@{
    ViewBag.Title = "Vaš račun je zaključan";
}

<div style="margin:auto; max-width: 100rem;">
    <h2 style="text-align:center; margin-top: 10rem;">Prekoračili ste broj pokušaja logovanja na profil, probajte kasnije ili resetujte šifru</h2>
    <a asp-action="ForgotPassword" asp-controller="Account" style="text-align:center; margin-top:3rem;" class="add-button"><i class="fas fa-key"></i> Resetovanje šifre </a>
</div>