@model BEFIT.ViewModels.Account.AdminChangePasswordViewModel

@{
    ViewBag.Title = "Ažuriraj šifru";
}

<div class="container-no-flex">
    <div class="profile-form">
        <h1>Ažuriranje šifre</h1>
        <form method="post">
            <div class="form-inputs">
                <div class="upper">
                    <label asp-for="NewPassword">Nova šifra</label>
                    <input asp-for="NewPassword" type="password" placeholder="Postavite novu šifru za korisnika" />
                </div>

                <span asp-validation-for="NewPassword" class="message-danger"></span>
            </div>
            <button type="submit" class="submit-form">
                <i class="fas fa-save"></i> Potvrdi
            </button>
        </form>
    </div>
</div>