@model BEFIT.ViewModels.Account.ForgotPasswordViewModel

@{
    ViewBag.Title = "Zaboravili ste šifru?";
}
    <div class="img-logo-main">
        <img src="~/images/logotip2.png" alt="" />
    </div>
<div class="form-secondary" style="margin:auto; max-width: 100rem;">
    <h1 style="text-align:center;">Povratite svoj profil</h1>
    <form method="post">
        <div class="form-inputs">
            <div class="upper">
                <label asp-for="Email">Email</label>
                <input asp-for="Email" type="text" placeholder="Unesite svoj email" />
            </div>

            <span asp-validation-for="Email" class="message-danger"></span>
        </div>
        <button type="submit" class="submit-form">
            <i class="fas fa-save"></i> Potvrdi
        </button>
    </form>
</div>