@{
    ViewBag.Title = "Uspješno ste promijenili šifru";
}

<div style="margin:auto; max-width: 100rem;">
    <h2 style="text-align:center; margin-top: 10rem;"> Uspješno ste promijenili šifru.</h2>
    <a asp-action="Login" asp-controller="Account" style="text-align:center; margin-top:3rem;" class="add-button"><i class="fas fa-undo"></i> Vrati se na Login </a>
</div>