@model BEFIT.ViewModels.Account.ResetPasswordViewModel

@{
    ViewBag.Title = "Zaboravili ste šifru?";
}
<div class="img-logo-main">
    <img src="~/images/logotip2.png" alt="" />
</div>
<div class="form-secondary" style="margin:auto; max-width: 100rem;">
    <h1 style="text-align:center;">Resetujte šifru</h1>
    <form method="post">
        <input asp-for="Token" type="hidden" />
        <input asp-for="Email" type="hidden" />
        <div class="form-inputs">
            <div class="upper">
                <label asp-for="Password">Šifra</label>
                <input asp-for="Password" type="password" placeholder="Unesite novu šifru" />
            </div>

            <span asp-validation-for="Password" class="message-danger"></span>
        </div>
        <div class="form-inputs">
            <div class="upper">
                <label asp-for="ConfirmPassword">Potvrdi šifru</label>
                <input asp-for="ConfirmPassword" type="password" placeholder="Potvrdite šifru" />
            </div>

            <span asp-validation-for="ConfirmPassword" class="message-danger"></span>
        </div>
        <button type="submit" class="submit-form">
            <i class="fas fa-save"></i> Potvrdi
        </button>
    </form>
</div>