
@{
    ViewBag.Title = "Prikaz korisnika";
}


    <div class="container-no-flex">
        <a asp-action="DeletedUsers" asp-controller="Account" class="add-button" style="margin-right:1rem">
            <i class="fas fa-users"></i> Arhiva obrisanih korisnika
        </a>
        <a id="btnPrint" class="add-button" asp-action="PrintUsers" asp-controller="Account" style="margin-right:1rem">
            <i class="far fa-file-pdf"></i> Print</a>
        <div class="search-section" style="display: flex; align-items: center">
            <div class="search-bar">
                <i class="fas fa-search"></i>
                <input @*asp-for="Search"*@ id="searchUsers" type="text" placeholder="Unesite korisnika za pretragu" />
            </div>
            @*<button type="submit" class="update-article">Search</button>*@
        </div>
        <div class="users-grid" id="users-grid"> </div>
        <div class="loader" style="position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);"></div>

    </div>

<script>
    let filteredInput = document.getElementById("searchUsers");
     var spinner = document.querySelector(".loader");
    filteredInput.addEventListener("keyup", filterUsers);
    document.addEventListener("DOMContentLoaded", async function () {
         spinner.style.display = "block";
        const response = await fetch('/api/users');
        const myJson = await response.json();
        let gridUsers = document.getElementById("users-grid");
        let html = "";
        for (var i = 0; i < myJson.length; i++) {
             html += ` <a href="/Account/Profile/${myJson[i].id}" class="user-card">
                        <div class="img"><i class="fas fa-user-circle"></i></div>
                        <p>${myJson[i].firstname}  ${myJson[i].lastname}</p>
                    </a>`;
        }
        spinner.style.display = "none";
        gridUsers.innerHTML = html;
    });

    async function  filterUsers() {
        let filterUser = document.getElementById("searchUsers").value.toUpperCase();
        let gridUsers = document.getElementById("users-grid");
        gridUsers.innerHTML = "";
        const response = await fetch('/api/users');
        const myJson = await response.json();
        let html = "";
        for (var i = 0; i < myJson.length; i++) {
            if (myJson[i].firstname.toUpperCase().indexOf(filterUser) > -1 || myJson[i].lastname.toUpperCase().indexOf(filterUser) > -1) {
                 html += ` <a href="/Account/Profile/${myJson[i].id}" class="user-card">
                        <div class="img"><i class="fas fa-user-circle"></i></div>
                        <p>${myJson[i].firstname}  ${myJson[i].lastname}</p>
                    </a>`;
            }
        }
         gridUsers.innerHTML = html;
    }

</script>
