@{
    ViewData["Title"] = "Početna";
}

<div class="container-center">
    <a href="obavijest.html" class="card">
        <div class="img">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbRVmmgjFoLDIKKRv-LQrGgJVna8DON4oDAIziLH5zUkBQcLkrJw&s"
                 alt="" />
        </div>
        <div class="description">
            <h2>
                Obavještavamo članove da MoFitness neće raditi dana 11/11/2019
                zbog renoviranja
            </h2>
            <p class="paragraph-description">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Voluptate error ex deleniti, possimus explicabo quaerat fuga
                dolor id? Accusamus commodi, quam accusantium officia odit illum
                sed amet dignissimos velit esse.
            </p>
        </div>
    </a>
    <a href="#" class="card">
        <div class="img">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbRVmmgjFoLDIKKRv-LQrGgJVna8DON4oDAIziLH5zUkBQcLkrJw&s"
                 alt="" />
        </div>
        <div class="description">
            <h2>Želite da postanete certifikovani trener, javite se !</h2>
            <p class="paragraph-description">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Voluptate error ex deleniti, possimus explicabo quaerat fuga
                dolor id? Accusamus commodi, quam accusantium officia odit illum
                sed amet dignissimos velit esse.
            </p>
        </div>
    </a>
    <a href="#" class="card">
        <div class="img">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbRVmmgjFoLDIKKRv-LQrGgJVna8DON4oDAIziLH5zUkBQcLkrJw&s"
                 alt="" />
        </div>
        <div class="description">
            <h2>Bajram Šerif Mubarek Olsun svim našim članovima</h2>
            <p class="paragraph-description">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Voluptate error ex deleniti, possimus explicabo quaerat fuga
                dolor id? Accusamus commodi.
            </p>
        </div>
    </a>
    <a href="#" class="card">
        <div class="img">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbRVmmgjFoLDIKKRv-LQrGgJVna8DON4oDAIziLH5zUkBQcLkrJw&s"
                 alt="" />
        </div>
        <div class="description">
            <h2>
                Obavještavamo članove da MoFitness neće raditi dana 11/11/2019
                zbog renoviranja
            </h2>
            <p class="paragraph-description">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Voluptate error ex deleniti, possimus explicabo quaerat fuga
                dolor id? Accusamus commodi, quam accusantium officia odit illum
                sed amet dignissimos velit esse.
            </p>
        </div>
    </a>
    <div class="card">
        <div class="img">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbRVmmgjFoLDIKKRv-LQrGgJVna8DON4oDAIziLH5zUkBQcLkrJw&s"
                 alt="" />
        </div>
        <div class="description">
            <h2>
                Svim našim članovima želimo sretnu i uspješnu Novu godinu.
            </h2>
            <p class="paragraph-description">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Voluptate error ex deleniti, possimus explicabo quaerat fuga
                dolor id? Accusamus commodi, quam accusantium officia odit illum
                sed amet dignissimos velit esse.
            </p>
        </div>
    </div>
    <div class="card">
        <div class="img">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbRVmmgjFoLDIKKRv-LQrGgJVna8DON4oDAIziLH5zUkBQcLkrJw&s"
                 alt="" />
        </div>
        <div class="description">
            <h2>
                Čestitamo našem John Doe, na osvojenoj srebernoj medalji na
                takmičenju u Kragujevcu
            </h2>
            <p class="paragraph-description">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Voluptate error ex deleniti, possimus explicabo quaerat fuga
                dolor id? Accusamus commodi, quam accusantium officia odit illum
                sed amet dignissimos velit esse.
            </p>
        </div>
    </div>
</div>