@model BEFIT.ViewModels.ProgramArticle.DisplayProgramArticleVM 
@{
    ViewData["Title"] = "DisplayProgramArticle";
}

<div class="container-no-flex">
    <div class="program-article">
        <h1>@Model.Name</h1>
        <div class="img"><img src="~/images/@Model.Photo" alt=""></div>
        <p>@Model.Description</p>
        <p class="paragraph-program-date"><i class="far fa-clock"></i> @Model.Date</p>
        <div class="like-article">

            <p>Broj osoba kojima se sviđa članak: 16</p>
            <a href="#">Sviđa mi se<i class="far fa-thumbs-up"></i></a>
        </div>
    </div>
</div>